body {
    min-height: 100vh;
    background-color: #f9f9f9;
}

textarea {
  resize: none;
}

h1 img {
    height: 60px;
    margin-top: -10px;
}

.encrypt-btn-container {
    width: 100%;
    text-align: right;
    padding-top: 8px;
    margin-bottom: 10px;
}

.encrypt-btn-container svg {
    margin-top: -3px;
}

.btn-copy {
    width: 85px;
}

footer {
    background-color: #fff;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.how-it-works {
    font-size: 18px;
    text-align: left;
    line-height: 32px;
}

.help-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #FFA500;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}

.how-it-works {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    color: #555;
}

.how-it-works > li {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.help-block > h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
}

.monospace {
    font-family: Courier;
}
